# Metin Madenciliği ve Doğral Dil İşleme

## Metin Ön İşleme

In [1]:
import pandas as pd

In [2]:
metin = """Esaretin Bedeli
The God Father
Batman:The Dark Night
The God Father 2
12 Angry Men
Schelinder's List
Lord of The Rings:Back Returning The King
Lord of The Rings:Ring Brotherhood
Dune:Desert Planet
"""
metin

"Esaretin Bedeli\nThe God Father\nBatman:The Dark Night\nThe God Father 2\n12 Angry Men\nSchelinder's List\nLord of The Rings:Back Returning The King\nLord of The Rings:Ring Brotherhood\nDune:Desert Planet\n"

In [4]:
metin.split()

['Esaretin',
 'Bedeli',
 'The',
 'God',
 'Father',
 'Batman:The',
 'Dark',
 'Night',
 'The',
 'God',
 'Father',
 '2',
 '12',
 'Angry',
 'Men',
 "Schelinder's",
 'List',
 'Lord',
 'of',
 'The',
 'Rings:Back',
 'Returning',
 'The',
 'King',
 'Lord',
 'of',
 'The',
 'Rings:Ring',
 'Brotherhood',
 'Dune:Desert',
 'Planet']

In [5]:
metin.split("\n")

['Esaretin Bedeli',
 'The God Father',
 'Batman:The Dark Night',
 'The God Father 2',
 '12 Angry Men',
 "Schelinder's List",
 'Lord of The Rings:Back Returning The King',
 'Lord of The Rings:Ring Brotherhood',
 'Dune:Desert Planet',
 '']

In [6]:
v_metin = metin.split("\n")

In [8]:
v = pd.Series(v_metin)
v

0                              Esaretin Bedeli
1                               The God Father
2                        Batman:The Dark Night
3                             The God Father 2
4                                 12 Angry Men
5                            Schelinder's List
6    Lord of The Rings:Back Returning The King
7           Lord of The Rings:Ring Brotherhood
8                           Dune:Desert Planet
9
dtype: object

In [13]:
metin_vektörü = v[1:len(v)-1]

In [14]:
metin_vektörü

1                               The God Father
2                        Batman:The Dark Night
3                             The God Father 2
4                                 12 Angry Men
5                            Schelinder's List
6    Lord of The Rings:Back Returning The King
7           Lord of The Rings:Ring Brotherhood
8                           Dune:Desert Planet
dtype: object

In [15]:
mdf = pd.DataFrame(metin_vektörü,columns = ["Movies"])
mdf

                                      Movies
1                             The God Father
2                      Batman:The Dark Night
3                           The God Father 2
4                               12 Angry Men
5                          Schelinder's List
6  Lord of The Rings:Back Returning The King
7         Lord of The Rings:Ring Brotherhood
8                         Dune:Desert Planet

## Upper and Lower Letter

In [17]:
fmdf = mdf.copy()

In [18]:
list1 = [1,2,3]

In [19]:
str1 = " ".join(str(i) for i in list1)

In [20]:
str1

'1 2 3'

In [21]:
fmdf["Movies"].apply(lambda x: " ".join(x.lower() for x in x.split()))

1                               the god father
2                        batman:the dark night
3                             the god father 2
4                                 12 angry men
5                            schelinder's list
6    lord of the rings:back returning the king
7           lord of the rings:ring brotherhood
8                           dune:desert planet
Name: Movies, dtype: object

In [22]:
fmdf = fmdf["Movies"].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [23]:
fmdf

1                               the god father
2                        batman:the dark night
3                             the god father 2
4                                 12 angry men
5                            schelinder's list
6    lord of the rings:back returning the king
7           lord of the rings:ring brotherhood
8                           dune:desert planet
Name: Movies, dtype: object

## Deleting the Signs

In [27]:
mdf = pd.DataFrame(mdf,columns = ["Movies"])

In [28]:
smdf = mdf["Movies"].str.replace("[^\w\s]","")

In [29]:
smdf

1                               The God Father
2                        Batman:The Dark Night
3                             The God Father 2
4                                 12 Angry Men
5                            Schelinder's List
6    Lord of The Rings:Back Returning The King
7           Lord of The Rings:Ring Brotherhood
8                           Dune:Desert Planet
Name: Movies, dtype: object