In [1]:
%load_ext sql

In [2]:
%sql sqlite:///learnsql.db

In [3]:
%%sql
SELECT * FROM Customers LIMIT 3;

 * sqlite:///learnsql.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico')]

## LIKE gibi seçimler

. 'a%': values start with "a"
. '%a': values end with "a"
. '%or%' : herhangi bir yerinde "or" olan değerler
. '_r%' : ikinci sırasında "r" olan değerler
. 'a%%' : "a" ile başlayıp en az 3 karakterden oluşan değerler
. 'a%o' : "a" ile başlayıp "o" ile biten değerler

In [4]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE '%or%';

 * sqlite:///learnsql.db
Done.

[(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (40, "La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe", 'Versailles', '78000', 'France'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '4179', 'Germany'),
 (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK'),
 (80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'México D.F.', '5033', 'Mexico'),
 (88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil')]

In [5]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE '%a';

 * sqlite:///learnsql.db
Done.

[(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '5022', 'Mexico'),
 (30, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain'),
 (61, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil'),
 (62, 'Queen Cozinha', 'Lúcia Carvalho', 'Alameda dos Canàrios, 891', 'São Paulo', '05487-020', 'Brazil'),
 (88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil'),
 (90, 'Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')]

In [6]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE 'A%' AND Country LIKE '%o';

 * sqlite:///learnsql.db
Done.

[(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico')]

## BETWEEN

In [7]:
%%sql
SELECT * FROM Products LIMIT 10;

 * sqlite:///learnsql.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31)]

In [8]:
%%sql
SELECT * FROM Products WHERE Price BETWEEN 80 AND 120;

 * sqlite:///learnsql.db
Done.

[(9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81)]

In [9]:
%%sql
SELECT * FROM Products WHERE Price NOT BETWEEN 80 AND 120 LIMIT 10;

 * sqlite:///learnsql.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21)]

In [10]:
%%sql
SELECT * FROM Products WHERE Price BETWEEN 10 AND 20 AND CategoryID NOT IN(1,2,3);

 * sqlite:///learnsql.db
Done.

[(36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (54, 'Tourtière', 25, 6, '16 pies', 16),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (73, 'Röd Kaviar', 17, 8, '24 - 150 g jars', 15),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10)]

In [11]:
%%sql
SELECT ProductName FROM Products WHERE Price BETWEEN 10 AND 20 AND CategoryID NOT IN(1,2,3);

 * sqlite:///learnsql.db
Done.

[('Inlagd Sill',),
 ('Singaporean Hokkien Fried Mee',),
 ('Spegesild',),
 ('Tourtière',),
 ('Escargots de Bourgogne',),
 ('Röd Kaviar',),
 ('Longlife Tofu',)]

In [12]:
%%sql
SELECT * FROM Products WHERE ProductName BETWEEN 'Inlagd Sill' AND 'Röd Kaviar';

 * sqlite:///learnsql.db
Done.

[(8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21),
 (12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38),
 (13, 'Konbu', 6, 8, '2 kg box', 6),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17),
 (25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14),
 (30, 'Nord-Ost Matjeshering', 13, 8, '10 - 200 g glasses', 25),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 23),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (53, 'Perth Pasties', 24, 6, '48 pieces', 32),
 (55, 'Pâté chinois', 25, 6, '24 boxes x 2 pies', 24),
 (57, 'Ravioli Angelo', 26, 5, '24 - 250 g pkgs.', 43),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 43),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14),
 (70, 'Outback Lager', 7, 1, '24 - 355 ml bottles', 15),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 34),
 (73, 'Röd Kaviar', 17, 8, '24 - 150 g jars', 15),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10),
 (75, 'Rhönbräu Klosterbier', 12, 1, '24 - 0.5 l bottles', 27),
 (76, 'Lakkalikööri', 23, 1, '500 ml', 18),
 (77, 'Original Frankfurter grüne Soße', 12, 2, '12 boxes', 13)]

## Aggregation Functions : Fundamental Statistical Processes

In [13]:
%%sql
SELECT * FROM Products LIMIT 10;

 * sqlite:///learnsql.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31)]

In [14]:
%%sql
SELECT MIN(Price) FROM Products;

 * sqlite:///learnsql.db
Done.

[(6,)]

In [15]:
%%sql
SELECT MAX(Price) FROM Products;

 * sqlite:///learnsql.db
Done.

[(435,)]

In [19]:
%%sql
SELECT MIN(Price) AS min_price,MAX(Price) AS max_price FROM Products;

 * sqlite:///learnsql.db
Done.

[(6, 435)]

In [20]:
%%sql
SELECT AVG(Price) AS Avarage FROM Products;

 * sqlite:///learnsql.db
Done.

[(39.15584415584416,)]

In [21]:
%%sql
SELECT SUM(Price) AS Sum FROM Products;

 * sqlite:///learnsql.db
Done.

[(3015,)]

In [23]:
%%sql
SELECT COUNT(Price),MIN(Price),MAX(Price),AVG(Price),SUM(Price) FROM Products;

 * sqlite:///learnsql.db
Done.

[(77, 6, 435, 39.15584415584416, 3015)]

In [24]:
%%sql
SELECT COUNT(*),MIN(Price),MAX(Price),AVG(Price),SUM(Price) FROM Products;

 * sqlite:///learnsql.db
Done.

[(77, 6, 435, 39.15584415584416, 3015)]

## GROUP BY And Aggregation Functions

In [26]:
%%sql
SELECT * FROM Customers LIMIT 5;

 * sqlite:///learnsql.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')]

In [29]:
%%sql
SELECT COUNT(CustomerID) AS Customer_Number,Country FROM Customers GROUP BY(Country) ORDER BY Customer_Number DESC;

 * sqlite:///learnsql.db
Done.

[(13, 'USA'),
 (11, 'Germany'),
 (11, 'France'),
 (9, 'Brazil'),
 (7, 'UK'),
 (5, 'Spain'),
 (5, 'Mexico'),
 (4, 'Venezuela'),
 (3, 'Italy'),
 (3, 'Canada'),
 (3, 'Argentina'),
 (2, 'Switzerland'),
 (2, 'Sweden'),
 (2, 'Portugal'),
 (2, 'Finland'),
 (2, 'Denmark'),
 (2, 'Belgium'),
 (2, 'Austria'),
 (1, 'Poland'),
 (1, 'Norway'),
 (1, 'Ireland')]

In [30]:
%%sql
SELECT * FROM Products LIMIT 4;

 * sqlite:///learnsql.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22)]

In [32]:
%%sql
SELECT AVG(Price),CategoryID FROM Products GROUP BY(CategoryID);

 * sqlite:///learnsql.db
Done.

[(42.75, 1),
 (28.25, 2),
 (33.76923076923077, 3),
 (74.9, 4),
 (23.571428571428573, 5),
 (55.166666666666664, 6),
 (32.2, 7),
 (26.5, 8)]