In [1]:
import seaborn as sns
import missingno as msno
df = sns.load_dataset("titanic")
df = df.select_dtypes(include = ["float64","int64"])
print(df.head())
df.isnull().sum()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [2]:
!pip install ycimpute

Requirement already satisfied: ycimpute in c:\users\admin\anaconda3\lib\site-packages (0.2)
Requirement already satisfied: torch>=1.1.0 in c:\users\admin\anaconda3\lib\site-packages (from ycimpute) (2.0.1)
Requirement already satisfied: scipy in c:\users\admin\anaconda3\lib\site-packages (from ycimpute) (1.6.2)
Requirement already satisfied: numpy>=1.10 in c:\users\admin\anaconda3\lib\site-packages (from ycimpute) (1.22.4)
Requirement already satisfied: scikit-learn>=0.17.1 in c:\users\admin\anaconda3\lib\site-packages (from ycimpute) (0.24.1)
Requirement already satisfied: six in c:\users\admin\anaconda3\lib\site-packages (from ycimpute) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn>=0.17.1->ycimpute) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn>=0.17.1->ycimpute) (1.0.1)
Requirement already satisfied: filelock in c:\users\admin\anaconda3\lib\site-packages (from torch>=1.1.0->ycimpute) (3.9.0)
Requirement already satisfied: sympy in c:\users\admin\anaconda3\lib\site-packages (from torch>=1.1.0->ycimpute) (1.8)
Requirement already satisfied: typing-extensions in c:\users\admin\anaconda3\lib\site-packages (from torch>=1.1.0->ycimpute) (3.7.4.3)
Requirement already satisfied: jinja2 in c:\users\admin\anaconda3\lib\site-packages (from torch>=1.1.0->ycimpute) (2.11.3)
Requirement already satisfied: networkx in c:\users\admin\anaconda3\lib\site-packages (from torch>=1.1.0->ycimpute) (2.5)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\admin\anaconda3\lib\site-packages (from jinja2->torch>=1.1.0->ycimpute) (1.1.1)
Requirement already satisfied: decorator>=4.3.0 in c:\users\admin\anaconda3\lib\site-packages (from networkx->torch>=1.1.0->ycimpute) (5.0.6)
Requirement already satisfied: mpmath>=0.19 in c:\users\admin\anaconda3\lib\site-packages (from sympy->torch>=1.1.0->ycimpute) (1.2.1)

In [3]:
from ycimpute.imputer import knnimput

In [4]:
var_names = list(df)

In [6]:
import numpy as np
n_df = np.array(df)

In [7]:
n_df[:10]

array([[ 0.    ,  3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 1.    ,  3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       [ 1.    ,  1.    , 35.    ,  1.    ,  0.    , 53.1   ],
       [ 0.    ,  3.    , 35.    ,  0.    ,  0.    ,  8.05  ],
       [ 0.    ,  3.    ,     nan,  0.    ,  0.    ,  8.4583],
       [ 0.    ,  1.    , 54.    ,  0.    ,  0.    , 51.8625],
       [ 0.    ,  3.    ,  2.    ,  3.    ,  1.    , 21.075 ],
       [ 1.    ,  3.    , 27.    ,  0.    ,  2.    , 11.1333],
       [ 1.    ,  2.    , 14.    ,  1.    ,  0.    , 30.0708]])

In [9]:
n_df.shape

(891, 6)

In [10]:
dff = knnimput.KNN(k = 4).complete(n_df)

Imputing row 1/891 with 0 missing, elapsed time: 0.160
Imputing row 101/891 with 0 missing, elapsed time: 0.161
Imputing row 201/891 with 0 missing, elapsed time: 0.162
Imputing row 301/891 with 1 missing, elapsed time: 0.163
Imputing row 401/891 with 0 missing, elapsed time: 0.164
Imputing row 501/891 with 0 missing, elapsed time: 0.165
Imputing row 601/891 with 0 missing, elapsed time: 0.166
Imputing row 701/891 with 0 missing, elapsed time: 0.167
Imputing row 801/891 with 0 missing, elapsed time: 0.168

In [11]:
type(dff)

numpy.ndarray

In [13]:
import pandas as pd
dff = pd.DataFrame(dff,columns = var_names)

In [14]:
type(dff)

pandas.core.frame.DataFrame

In [15]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

In [18]:
#random forests
import seaborn as sns
import missingno as msno
df = sns.load_dataset("titanic")
df = df.select_dtypes(include = ["float64","int64"])

In [20]:
df.isnull().sum()

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [21]:
var_names = list(df)

In [29]:
import numpy as np
n_df = np.array(df)

In [34]:
!pip install ycimpute==0.1.1

Requirement already satisfied: ycimpute==0.1.1 in c:\users\admin\anaconda3\lib\site-packages (0.1.1)
Requirement already satisfied: numpy>=1.10 in c:\users\admin\anaconda3\lib\site-packages (from ycimpute==0.1.1) (1.22.4)
Requirement already satisfied: six in c:\users\admin\anaconda3\lib\site-packages (from ycimpute==0.1.1) (1.15.0)
Requirement already satisfied: scipy in c:\users\admin\anaconda3\lib\site-packages (from ycimpute==0.1.1) (1.6.2)
Requirement already satisfied: scikit-learn>=0.17.1 in c:\users\admin\anaconda3\lib\site-packages (from ycimpute==0.1.1) (0.24.1)
Requirement already satisfied: joblib>=0.11 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn>=0.17.1->ycimpute==0.1.1) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn>=0.17.1->ycimpute==0.1.1) (2.1.0)

In [36]:
from ycimpute.imputer import iterforest
dff = iterforest.IterImput().complete(n_df)

AttributeError: module 'ycimpute.imputer.iterforest' has no attribute 'IterImput'

In [37]:
#EM

In [38]:
import seaborn as sns
import missingno as msno
df = sns.load_dataset("titanic")
df = df.select_dtypes(include = ["float64","int64"])

In [39]:
from ycimpute.imputer import EM

In [40]:
var_names = list(df)

In [41]:
import numpy as np
n_df = np.array(df)

In [42]:
dff = EM().complete(n_df)

In [43]:
dff = pd.DataFrame(dff,columns = var_names)

In [44]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

In [2]:
import numpy as np
import seaborn as sns
import pandas as pd
import missingno as msno
df = sns.load_dataset("titanic")
df = df.select_dtypes(include = ["float64","int64"])
print(df.head())
df.isnull().sum()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [3]:
from ycimpute.imputer import knnimput

In [4]:
var_names = list(df)

In [5]:
n_df = np.array(df)

In [6]:
n_df[:10]

array([[ 0.    ,  3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 1.    ,  3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       [ 1.    ,  1.    , 35.    ,  1.    ,  0.    , 53.1   ],
       [ 0.    ,  3.    , 35.    ,  0.    ,  0.    ,  8.05  ],
       [ 0.    ,  3.    ,     nan,  0.    ,  0.    ,  8.4583],
       [ 0.    ,  1.    , 54.    ,  0.    ,  0.    , 51.8625],
       [ 0.    ,  3.    ,  2.    ,  3.    ,  1.    , 21.075 ],
       [ 1.    ,  3.    , 27.    ,  0.    ,  2.    , 11.1333],
       [ 1.    ,  2.    , 14.    ,  1.    ,  0.    , 30.0708]])

In [7]:
dff = knnimput.KNN(k = 4).complete(n_df)

Imputing row 1/891 with 0 missing, elapsed time: 0.104
Imputing row 101/891 with 0 missing, elapsed time: 0.106
Imputing row 201/891 with 0 missing, elapsed time: 0.107
Imputing row 301/891 with 1 missing, elapsed time: 0.108
Imputing row 401/891 with 0 missing, elapsed time: 0.109
Imputing row 501/891 with 0 missing, elapsed time: 0.110
Imputing row 601/891 with 0 missing, elapsed time: 0.112
Imputing row 701/891 with 0 missing, elapsed time: 0.113
Imputing row 801/891 with 0 missing, elapsed time: 0.114

In [8]:
type(dff)

numpy.ndarray

In [9]:
dff = pd.DataFrame(dff,columns = var_names)

In [10]:
dff

     survived  pclass        age  sibsp  parch     fare
0         0.0     3.0  22.000000    1.0    0.0   7.2500
1         1.0     1.0  38.000000    1.0    0.0  71.2833
2         1.0     3.0  26.000000    0.0    0.0   7.9250
3         1.0     1.0  35.000000    1.0    0.0  53.1000
4         0.0     3.0  35.000000    0.0    0.0   8.0500
..        ...     ...        ...    ...    ...      ...
886       0.0     2.0  27.000000    0.0    0.0  13.0000
887       1.0     1.0  19.000000    0.0    0.0  30.0000
888       0.0     3.0  22.469024    1.0    2.0  23.4500
889       1.0     1.0  26.000000    0.0    0.0  30.0000
890       0.0     3.0  32.000000    0.0    0.0   7.7500

[891 rows x 6 columns]

In [11]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64