Theory of Example

In [1]:
import numpy as np

In [2]:
population = np.random.randint(0,80,10000)

In [3]:
population[0:10]

array([62, 29, 26, 50, 43, 48, 69, 10, 40, 53])

In [4]:
#örneklem çekimi
np.random.seed(115)
orneklem = np.random.choice(a = population,size = 100)
orneklem[0:10]

array([78, 48, 57, 29, 74, 42, 22, 76, 33, 31])

In [5]:
orneklem.mean()

39.58

In [6]:
population.mean()

39.5666

In [7]:
#örneklem dağılımı

In [8]:
np.random.seed(10)
orneklem1 = np.random.choice(a = population,size = 100)
orneklem2 = np.random.choice(a = population,size = 100)
orneklem3 = np.random.choice(a = population,size = 100)
orneklem4 = np.random.choice(a = population,size = 100)
orneklem5 = np.random.choice(a = population,size = 100)
orneklem6 = np.random.choice(a = population,size = 100)
orneklem7 = np.random.choice(a = population,size = 100)
orneklem8 = np.random.choice(a = population,size = 100)
orneklem9 = np.random.choice(a = population,size = 100)
orneklem10 = np.random.choice(a = population,size = 100)

In [9]:
(orneklem1.mean() + orneklem2.mean() + orneklem3.mean() + orneklem4.mean() + orneklem5.mean() + orneklem6.mean() + orneklem7.mean()
+ orneklem8.mean() + orneklem9.mean() + orneklem10.mean()) / 10

38.417

In [10]:
orneklem1.mean()

39.97

In [12]:
orneklem2.mean()

34.5

In [13]:
orneklem3.mean()

36.27

Descriptive Statistics

In [37]:
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [11]:
import researchpy as rp

In [20]:
rp.summary_cont(df["total_bill"])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086

In [22]:
rp.summary_cont(df["tip"])

  Variable      N    Mean      SD      SE  95% Conf.  Interval
0      tip  244.0  2.9983  1.3836  0.0886     2.8238    3.1728

In [24]:
df[["tip","total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [26]:
df[["tip","total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000