In [1]:
%load_ext sql

In [2]:
%sql sqlite:///Nba.db

In [3]:
%%sql
SELECT * FROM games LIMIT 4;

 * sqlite:///Nba.db
Done.

[('2022-12-22', 22200477, 'Final', 1610612740, 1610612759, 2022, 1610612740, 126, 0.484, 0.926, 0.382, 25, 46, 1610612759, 117, 0.478, 0.815, 0.321, 23, 44, 1),
 ('2022-12-22', 22200478, 'Final', 1610612762, 1610612764, 2022, 1610612762, 120, 0.488, 0.952, 0.457, 16, 40, 1610612764, 112, 0.561, 0.765, 0.333, 20, 37, 1),
 ('2022-12-21', 22200466, 'Final', 1610612739, 1610612749, 2022, 1610612739, 114, 0.482, 0.786, 0.313, 22, 37, 1610612749, 106, 0.47, 0.682, 0.433, 20, 46, 1),
 ('2022-12-21', 22200467, 'Final', 1610612755, 1610612765, 2022, 1610612755, 113, 0.441, 0.909, 0.297, 27, 49, 1610612765, 93, 0.392, 0.735, 0.261, 15, 46, 1)]

In [4]:
%%sql
SELECT * FROM teams LIMIT 4;

 * sqlite:///Nba.db
Done.

[(0, 1610612737, 1949, 2019, 'ATL', 'Hawks', 1949, 'Atlanta', 'State Farm Arena', '18729', 'Tony Ressler', 'Travis Schlenk', 'Lloyd Pierce', 'Erie Bayhawks'),
 (0, 1610612738, 1946, 2019, 'BOS', 'Celtics', 1946, 'Boston', 'TD Garden', '18624', 'Wyc Grousbeck', 'Danny Ainge', 'Brad Stevens', 'Maine Red Claws'),
 (0, 1610612740, 2002, 2019, 'NOP', 'Pelicans', 2002, 'New Orleans', 'Smoothie King Center', None, 'Tom Benson', 'Trajan Langdon', 'Alvin Gentry', 'No Affiliate'),
 (0, 1610612741, 1966, 2019, 'CHI', 'Bulls', 1966, 'Chicago', 'United Center', '21711', 'Jerry Reinsdorf', 'Gar Forman', 'Jim Boylen', 'Windy City Bulls')]

In [5]:
#Comparing the teams point rates

In [6]:
%%sql
SELECT teams.NICKNAME,AVG(games.PTS_home)AS Home_PTS FROM games lEFT OUTER JOIN games_details  ON games.GAME_ID = games_details.GAME_ID 
LEFT OUTER JOIN teams ON games_details.TEAM_ID = teams.TEAM_ID GROUP BY teams.NICKNAME ORDER BY Home_PTS DESC;

 * sqlite:///Nba.db
Done.

[('Warriors', 108.27027859689274),
 ('Suns', 107.58770708930095),
 ('Nuggets', 107.36884520014169),
 ('Kings', 106.37527480237617),
 ('Thunder', 105.10726426910001),
 ('Lakers', 105.08396749645298),
 ('Wizards', 104.79899543378995),
 ('Timberwolves', 104.6225823069358),
 ('Rockets', 104.40845386757704),
 ('Bucks', 104.14258368945869),
 ('Clippers', 103.98174296249663),
 ('Trail Blazers', 103.88728100113765),
 ('Mavericks', 103.63175895060392),
 ('Raptors', 103.6307898858805),
 ('Hawks', 103.37259348183719),
 ('Pelicans', 103.1895484758194),
 ('Knicks', 103.04214144458047),
 ('Jazz', 103.04046602632515),
 ('76ers', 102.71039649186918),
 ('Hornets', 102.57696833022845),
 ('Nets', 102.42820769300718),
 ('Pacers', 102.26005504750067),
 ('Cavaliers', 102.25352985437968),
 ('Grizzlies', 101.99766071348239),
 ('Spurs', 101.90385673764871),
 ('Magic', 101.87425561154375),
 ('Celtics', 101.8688524590164),
 ('Bulls', 101.26383620492665),
 ('Heat', 101.02271970705726),
 ('Pistons', 100.10034263338228),
 (None, None)]

In [7]:
# As it can be seen the team that has highest amount of point in its own arena is Golden State Warrious

In [8]:
%%sql
SELECT teams.NICKNAME,AVG(games.PTS_away) AS Visitor_PTS FROM games LEFT OUTER JOIN games_details ON games.GAME_ID = games_details.GAME_ID
LEFT OUTER JOIN teams ON games_details.TEAM_ID = teams.TEAM_ID GROUP BY teams.NICKNAME ORDER BY Visitor_PTS DESC;

 * sqlite:///Nba.db
Done.

[('Suns', 104.902707313788),
 ('Warriors', 104.57845165265613),
 ('Nuggets', 103.66272582359193),
 ('Kings', 103.61307825436175),
 ('Timberwolves', 102.47267362899827),
 ('Lakers', 102.28685670063201),
 ('Thunder', 102.22629271783862),
 ('Rockets', 101.71404186506155),
 ('Wizards', 101.65703196347032),
 ('Bucks', 101.49180911680912),
 ('Clippers', 101.48911772641425),
 ('Raptors', 101.00174535690311),
 ('Mavericks', 100.93285423611412),
 ('Knicks', 100.81283548356718),
 ('Nets', 100.64590342820769),
 ('Pelicans', 100.58776071510428),
 ('Trail Blazers', 100.46257110352674),
 ('Hawks', 100.42861589080077),
 ('76ers', 99.9819568792253),
 ('Hornets', 99.68967545837828),
 ('Celtics', 99.66454236719635),
 ('Magic', 99.58502061383417),
 ('Cavaliers', 99.40450582038685),
 ('Jazz', 99.37464425471363),
 ('Grizzlies', 99.19024697467272),
 ('Bulls', 99.07906402815227),
 ('Pacers', 98.97651602592559),
 ('Spurs', 98.85932009652429),
 ('Heat', 98.20310419440746),
 ('Pistons', 97.29777955769146),
 (None, None)]

In [9]:
#As it can be seen in the above querry the team that has highest amount of away point is Los Angeles Lakers.

In [10]:
%%sql
SELECT AVG(games.PTS_home + games.PTS_away) AS total_pts,teams.NICKNAME FROM games LEFT OUTER JOIN games_details ON games.GAME_ID = games_details.GAME_ID
LEFT OUTER JOIN teams ON games_details.TEAM_ID = teams.TEAM_ID GROUP BY teams.NICKNAME ORDER BY total_pts DESC;

 * sqlite:///Nba.db
Done.

[(212.84873024954888, 'Warriors'),
 (212.49041440308895, 'Suns'),
 (211.03157102373362, 'Nuggets'),
 (209.9883530567379, 'Kings'),
 (207.370824197085, 'Lakers'),
 (207.33355698693862, 'Thunder'),
 (207.09525593593406, 'Timberwolves'),
 (206.45602739726027, 'Wizards'),
 (206.12249573263858, 'Rockets'),
 (205.6343928062678, 'Bucks'),
 (205.47086068891088, 'Clippers'),
 (204.63253524278363, 'Raptors'),
 (204.56461318671805, 'Mavericks'),
 (204.3498521046644, 'Trail Blazers'),
 (203.85497692814766, 'Knicks'),
 (203.80120937263794, 'Hawks'),
 (203.7773091909237, 'Pelicans'),
 (203.07411112121488, 'Nets'),
 (202.69235337109447, '76ers'),
 (202.41511028103878, 'Jazz'),
 (202.26664378860673, 'Hornets'),
 (201.65803567476652, 'Cavaliers'),
 (201.53339482621274, 'Celtics'),
 (201.45927622537792, 'Magic'),
 (201.23657107342626, 'Pacers'),
 (201.18790768815512, 'Grizzlies'),
 (200.76317683417298, 'Spurs'),
 (200.34290023307892, 'Bulls'),
 (199.2258239014647, 'Heat'),
 (197.39812219107372, 'Pistons'),
 (None, None)]

In [11]:
#As it can be seen above querry the theam that has highest amounr of point as visitor or home team is Golden State Warrious

In [13]:
%%sql
SELECT teams.NICKNAME,AVG(FG3_PCT_home + FG3_PCT_away) AS AVG_3_POINT FROM games LEFT OUTER JOIN games_details ON games.GAME_ID = games_details.GAME_ID
LEFT OUTER JOIN teams ON games_details.TEAM_ID = teams.TEAM_ID GROUP BY teams.NICKNAME ORDER BY AVG_3_POINT DESC;

 * sqlite:///Nba.db
Done.

[('Warriors', 0.7213134105013024),
 ('Spurs', 0.7212897421785645),
 ('Suns', 0.7190024693575077),
 ('Trail Blazers', 0.7180629806598388),
 ('Kings', 0.7159591187614014),
 ('Bucks', 0.7124338942307845),
 ('Raptors', 0.7088363392257686),
 ('Knicks', 0.7078567661738467),
 ('Jazz', 0.7077652081109876),
 ('Wizards', 0.7072890867579861),
 ('Cavaliers', 0.707090736068694),
 ('Mavericks', 0.7064689380492586),
 ('Magic', 0.7062453504351882),
 ('Pelicans', 0.7057438459775383),
 ('Clippers', 0.7055872380609755),
 ('Heat', 0.7053798268974781),
 ('Nuggets', 0.7046694562522009),
 ('Hawks', 0.704351696234058),
 ('Nets', 0.7042577521142149),
 ('Pacers', 0.7025337387907324),
 ('Bulls', 0.7017873954572452),
 ('Timberwolves', 0.70166529293309),
 ('Thunder', 0.7002043299337892),
 ('Rockets', 0.6998760668403586),
 ('Hornets', 0.6998407196783887),
 ('Grizzlies', 0.6976855908947625),
 ('76ers', 0.6931809793531931),
 ('Celtics', 0.6909255377132973),
 ('Lakers', 0.6899584676899186),
 ('Pistons', 0.6892978240555379),
 (None, None)]

In [14]:
#Golden State Warrious has the highest 3pt rate between 2003-2019

In [17]:
%%sql
SELECT AVG(games.AST_home + games.AST_away) AS Avarage_Asist,teams.NICKNAME FROM games LEFT OUTER JOIN games_details ON games.GAME_ID = games_details.GAME_ID
LEFT OUTER JOIN teams ON games_details.TEAM_ID = teams.TEAM_ID GROUP BY teams.NICKNAME ORDER BY Avarage_Asist DESC;

 * sqlite:///Nba.db
Done.

[(47.84116016020422, 'Warriors'),
 (47.49411087495572, 'Nuggets'),
 (45.839877136752136, 'Bucks'),
 (45.82806655488198, 'Lakers'),
 (45.72467568959865, 'Timberwolves'),
 (45.28602552131964, 'Hawks'),
 (45.20572893245795, 'Clippers'),
 (45.193320548201505, 'Kings'),
 (45.16246690852044, 'Hornets'),
 (45.00045840018336, 'Pelicans'),
 (44.961675497898774, '76ers'),
 (44.870228310502284, 'Wizards'),
 (44.840838683607956, 'Suns'),
 (44.55415113212695, 'Nets'),
 (44.41328092865957, 'Bulls'),
 (44.301332271057404, 'Cavaliers'),
 (44.253211009174315, 'Raptors'),
 (43.9326233700893, 'Celtics'),
 (43.646553642148355, 'Pistons'),
 (43.602551432935044, 'Rockets'),
 (43.55751238304898, 'Spurs'),
 (43.38314813981736, 'Grizzlies'),
 (43.381035272560695, 'Magic'),
 (43.2608338023291, 'Mavericks'),
 (43.128153515834676, 'Thunder'),
 (42.88191423244251, 'Pacers'),
 (42.87362912400455, 'Trail Blazers'),
 (42.78183920313056, 'Jazz'),
 (42.330892143808256, 'Heat'),
 (42.320651662115075, 'Knicks'),
 (None, None)]

In [18]:
#Golden State Warrious has the highest asist rate between 2003-2019

In [19]:
%%sql
SELECT AVG(games.REB_home + games.REB_away) AS Total_Rebound,teams.NICKNAME FROM games LEFT OUTER JOIN games_details ON games.GAME_ID = games_details.GAME_ID
LEFT OUTER JOIN teams ON games_details.TEAM_ID = teams.TEAM_ID GROUP BY teams.NICKNAME ORDER BY Total_Rebound DESC;

 * sqlite:///Nba.db
Done.

[(88.14871704590468, 'Warriors'),
 (87.1383550453588, 'Lakers'),
 (86.99113386042686, 'Bulls'),
 (86.59408252143851, 'Suns'),
 (86.42547861871533, 'Thunder'),
 (86.42503561253561, 'Bucks'),
 (86.23350794637308, 'Pacers'),
 (86.21952205552061, 'Rockets'),
 (86.20589798087141, 'Nuggets'),
 (86.11093323288445, 'Knicks'),
 (86.05216197666438, 'Hornets'),
 (86.01525671478166, '76ers'),
 (86.00388127853881, 'Wizards'),
 (85.85462574137408, 'Mavericks'),
 (85.8066313866904, 'Timberwolves'),
 (85.78076042143839, 'Magic'),
 (85.63871088451285, 'Kings'),
 (85.40169979314686, 'Clippers'),
 (85.34645885858355, 'Pelicans'),
 (85.3215422387924, 'Nets'),
 (85.24783246631986, 'Hawks'),
 (85.23949943117178, 'Trail Blazers'),
 (85.08162228525465, 'Spurs'),
 (84.81407170812902, 'Grizzlies'),
 (84.68971654874738, 'Pistons'),
 (84.64659762693388, 'Celtics'),
 (84.55703093878635, 'Cavaliers'),
 (84.53510852539718, 'Raptors'),
 (83.33182141586624, 'Jazz'),
 (83.09200233022636, 'Heat'),
 (None, None)]

In [20]:
#Golden State Warrious has the highest rebound rate between 2003-2019